---
title: "Verify Your Access"
preheader: "👀 Lorem, ipsum, and much dolor in this week's edition"
bodyClass: bg-slate-50
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full font-sans">
      <tr>
        <td align="center" class="bg-slate-50 sm:px-4">
          <table class="w-150 sm:w-full">
            <tr>
              <td class="p-8 sm:px-6 text-center">
                <h1 class="font-title text-6xl">
                  <span class="text-red-600">Ivaldi</span>
                  <span class="text-green-600">Italian Food</span>
                </h1>
              </td>
            </tr>
            <tr>
              <td class="w-full px-6 sm:px-0 text-left">
                <table class="w-full">
                  <tr>
                    <td class="w-full pb-8 sm:w-full sm:inline-block">
                      <table class="w-full">
                        <tr>
                          <td class="p-10 bg-white rounded shadow-sm">
                            <h2 class="m-0 mb-10 text-3xl text-center">Verify your Access</h2>
                            <p class="m-0 mb-6 text-xl text-slate-700 text-center">
                              Dear <span class="font-bold">Simone Bartoli</span>...
                            </p>
                            <p class="leading-8 text-lg text-center">
                              We are sending you this email to verify your login. If you are trying to login
                              click on the button below but please check that the code in the gray area is the
                              same of your session.
                            </p>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="w-full px-6 sm:px-0 text-left">
                <table class="w-full">
                  <tr>
                    <td class="w-full pb-8 sm:w-full sm:inline-block">
                      <table class="w-full">
                        <tr>
                          <td class="p-10 bg-red-500 rounded shadow-sm text-white border-solid border-2 border-black">
                            <h2 class="m-0 mb-10 text-3xl text-center">Aren't you trying to Log In?</h2>
                            <p class="leading-8 text-lg text-center">
                              If you aren't trying to log in (at the time of this email), <span class="font-bold text-slate-100">DO NOT CLICK</span> on
                              the <span class="font-bold text-slate-100">BUTTON</span> of this email.
                              <span class="font-bold text-slate-100">DISCARD THIS EMAIL IMMEDIATELY</span>.
                            </p>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="w-full px-6 sm:px-0 text-left">
                <table class="w-full">
                  <tr>
                    <td class="w-full pb-8 sm:w-full sm:inline-block">
                      <table class="w-full">
                        <tr>
                          <td class="p-10 bg-neutral-300 text-black rounded shadow-sm text-white">
                            <h2 class="m-0 mb-6 text-3xl text-center">SECURITY CODE</h2>
                            <span class="mb-8 font-semibold rounded-lg p-4 bg-white tracking-wider	block text-5xl text-black text-center">X4F GF3</span>
                            <span class="block text-center">
                              If your code does not correspond, <span class="font-bold ">DO NOT CLICK</span> on
                              the <span class="font-bold ">BUTTON</span> below.
                            </span>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="w-full px-6 sm:px-0 text-left">
                <table class="w-full">
                  <tr>
                    <td class="w-full pb-8 sm:w-full sm:inline-block block box-border">
                      <table class="w-full">
                        <tr>
                          <td class="text-slate-50 p-12 bg-white rounded-lg w-full border-dashed border-2 border-black">
                            <span class="block font-bold mb-12 text-xl text-black text-center">CLICK ONLY IF YOU ARE TRYING TO ACCESS</span>
                            <a class="my-8 mx-auto w-fit box-border block text-2xl no-underline px-8 py-4 rounded-lg bg-green-600 text-white shadow-lg text-center" href="">Click Here to Verify Your Access</a>
                            <span class="block text-neutral-500 text-center">This link is valid until 12:55 04/07/2022.</span>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="w-full px-6 sm:px-0 text-left">
                <table class="w-full">
                  <tr>
                    <td class="w-full pb-12 sm:w-full sm:inline-block block box-border">
                      <table class="w-full">
                        <tr>
                          <td class="text-slate-700 p-12 py-8 bg-white rounded-lg w-full">
                            <h2 class="font-bold text-center text-3xl text-black">Something to Consider</h2>
                            <p class="text-center text-base leading-8 text-slate-700">
                              For security reason if you click on the button of this email after the specified limit,
                              or after you close the tab of your current session, the link will not be more valid.
                              In that case try to log in again and a new verification email will be sent to this address.
                            </p>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="px-6 py-4 text-left w-full">
                <table class="w-full">
                  <tr>
                    <td class="px-6 w-full">
                      <img class="block mx-auto w-[300px]" src="images/logo.png" alt="">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="h-12 sm:h-8"></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
